<%- include('../partials/header') %>
<div class="container text-center my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <i class="fas fa-times-circle text-danger fa-5x mb-4"></i>
            <h1 class="display-4">Thanh toán thất bại</h1>
            <p class="lead">Giao dịch của bạn đã không thể hoàn tất. Đơn hàng của bạn chưa được xác nhận.</p>
            <hr>
            <p>Vui lòng thử lại hoặc chọn một phương thức thanh toán khác.</p>
            <a href="/checkout" class="btn btn-warning me-2">Thử lại thanh toán</a>
            <a href="/products" class="btn btn-outline-secondary">Tiếp tục mua sắm</a>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>